**/client/target/
**/standalone/target/
**/webapp/target/
**/juddi-client/target/
**/ru/ifmo/webservices/generated
lab1/client/**/ConcurrentMain.java
lab7/juddi-distro-*

*.mvn
*.idea
*.iws
*.iml
*.ipr
